.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37rem;

}
.userInput{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid darkorange;
    padding: 10rem;
    
 }

 
 .epLabel{
    font-size: larger;
    font-weight: 500;
 }

 .inputs{
    border: 1px solid black;
    border-radius: 10px;
    width: 16rem;
    height: 2.3rem;
    padding-left: 8px;
 }

 